5. Operadores

In [ ]:
#Operadores aritmeticos

In [ ]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
print(suma)
print(resta)

Operadoes asignbacion

In [ ]:
numero = 5
numero = numero + 3
print(numero)

In [ ]:
#la operacion anterior tambien se puede expresar de la siguiente manera
numero = 5
numero += 3
print(numero)

In [ ]:
#Lo mismo se puede hacer con todos los casos, incluso la potencia
numero = 5
numero = numero ** 3
print(numero)

In [ ]:
#La operacion anterior tambien se puede expresar de la siguiente manera

operadores de comparacion

In [ ]:
#Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

In [ ]:
#Con las caddenas funciona igual
nombre1 = "Juan"
nombre2 = "Juan"
nombre1 = nombre2

Operadores logicos

In [ ]:
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

numero1 < numero2
not(numero1 < numero2)

In [ ]:
numero1<numero2 and numero3<numero4

Operadores de pertenencia

In [1]:
#Miremos un ejemplo
aula = ["Juan","Ddaniel","Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [2]:
#¿Diego esta en aula?
alumno1 in  aula

False

In [ ]:
#¿Diego no esta en aula?
alumno1 not in  aula

In [ ]:
aula1 = ["Juan","Ddaniel","Ruben"]
aula2 = ["Juan","Ddaniel","Ruben"]